SELECTED_TIME_FRAME = '5m'
OLD_1DAY_BARS = 51
ONE_DAY_BARS = 49
ONE_HOUR_BARS = 12
ONE_WEEK_BARS = 245
MORNING_BARS = 30
AFTERNOON_BARS = 19
# INDICATORS
MOMENTUM_LOOKBACK = 24
VOLATILITY_LOOKBACK = 24
VOLUME_LOOKBACK = 24
FAST_TREND_LOOKBACK = 24
LOW_TREND_LOOKBACK = 245
IBS_LOOKBACK = 5
#
DROP_FIRST_ROWS = 245