SELECTED_TIME_FRAME = '5m'
OLD_1DAY_BARS = 51
ONE_DAY_BARS = 49
ONE_WEEK_BARS = 245
MORNING_BARS = 30
AFTERNOON_BARS = 19
RSI_LOOKBACK = 14
VOLATILITY_LOOKBACK = 14
SHORT_EMA_LOOKBACK = 20
LONG_EMA_LOOKBACK = 250